<div *ngIf="readyDisplay">
    <app-header [appVersion]="appVersion" [titleLn1]="titleLn1" [titleLn2]="titleLn2" id="myHeader"></app-header>
</div>

<div *ngIf="creds && readyDisplay" class="mat-typography">
    <div class="dmp-col-7 dmp_control_bar"> 
                <div class="dmpHelp">
                    <div class="dmpHelpButton">
                        <span >
                            <a href="https://inet.nist.gov/mr/library/midas-user-guides/midas-tools/creating-data-management-plans-dmptool" >DMP User Guide</a>
                        </span>
                    </div>
                </div>
                
                <div class="grid_buttons" style="padding-top: 3px;">
                    <div>
                        <button mat-button type="button" id="btnSave"
                                [ngClass]="hasUnsavedChanges ? 'btn_update' : 'btn_draft'"
                                (click)="dmpButtonClick('Save')"
                                [disabled]="disableSaveBtn">
                            Save
                        </button>
                    </div>

                    <div *ngIf="currentDmpId">
                        <button mat-button type="button" class="btn_draft"
                                aria-label="Share this record with other users"
                                (click)="openShareDialog()">
                            Share
                        </button>
                    </div>

                    <div class="dmp_download_label">Download:</div>

                    <!--
                      Each button is wrapped in a span carrying the matTooltip.
                      matTooltip does not fire on a native disabled button (disabled
                      elements don't dispatch mouseenter in most browsers), so the
                      tooltip trigger must live on a non-disabled wrapper instead.
                    -->
                    <div class="dmp_download_group">
                        <span class="dmp_download_tooltip_wrap"
                              [matTooltip]="disableDownloadBtns ? 'Save your DMP before downloading' : ''"
                              matTooltipPosition="above">
                            <button mat-button type="button" class="btn_draft dmp_download_btn dmp_download_pdf"
                                    id="btnDownloadPdf"
                                    [disabled]="disableDownloadBtns"
                                    (click)="dmpButtonClick('Download', 'PDF')">
                                <mat-icon>picture_as_pdf</mat-icon> PDF
                            </button>
                        </span>
                    </div>

                    <div class="dmp_download_group">
                        <span class="dmp_download_tooltip_wrap"
                              [matTooltip]="disableDownloadBtns ? 'Save your DMP before downloading' : ''"
                              matTooltipPosition="above">
                            <button mat-button type="button" class="btn_draft dmp_download_btn dmp_download_md"
                                    id="btnDownloadMarkdown"
                                    [disabled]="disableDownloadBtns"
                                    (click)="dmpButtonClick('Download', 'Markdown')">
                                <mat-icon>description</mat-icon> Markdown
                            </button>
                        </span>
                    </div>

                    <div class="dmp_download_group">
                        <span class="dmp_download_tooltip_wrap"
                              [matTooltip]="disableDownloadBtns ? 'Save your DMP before downloading' : ''"
                              matTooltipPosition="above">
                            <button mat-button type="button" class="btn_draft dmp_download_btn dmp_download_json"
                                    id="btnDownloadJson"
                                    [disabled]="disableDownloadBtns"
                                    (click)="dmpButtonClick('Download', 'JSON')">
                                <mat-icon>data_object</mat-icon> JSON
                            </button>
                        </span>
                    </div>
                </div>
            </div>
    <div class="dmp-frm-row">
        <div class="dmp-col-7">
            
            
            <div id="dmp_panel">
                <div class="dmp_header" >Data Management Plan</div>
                
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="dmp-col-5">
            
            <app-resource-options></app-resource-options>
            
        </div>
    </div>
</div>

<div *ngIf="!creds && readyDisplay" style="display: flex;height:100%;justify-content: center;align-items: center;font-size: xx-large;">
    {{authMessage}}
</div>

<!-- <h1>
  Environment
</h1>
<pre>{{env | json}}</pre> -->
<div *ngIf="readyDisplay">
    <app-footer></app-footer>
</div>